@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

1.0 Block Technologies
-------------------------------------------------------------------*/
/* box-text element */
.box-text.style-center {
  margin-bottom: 48px;
}
.box-text.style-center .desc-title {
  width: 75%;
  margin: 0 auto;
  padding-top: 38px;
}
.box-text.style-center .main-title {
  padding-bottom: 0;
}
.box-text .head-box {
  letter-spacing: 0.4px;
}
.box-text .head-title {
  color: #45b7f4;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 9px;
}
.box-text .main-title {
  word-spacing: 3px;
  line-height: 36px;
  /* font-size: 30px; */
  font-weight: 700;
  color: #282828;
  text-transform: uppercase;
  /* padding-bottom: 35px; */
}
/* .box-text p {
  line-height: 24px;
  margin-bottom: 24px;
  font-size: 14px;
} */

/* box-style */
.box-style {
  margin-bottom: 27px;
}
.box-style.style-right {
  padding-right: 35px;
  float: right;
  text-align: right;
}
.box-style.style-right .title-head h2::before {
  right: 0;
}
.box-style.style-left {
  padding-left: 35px;
  float: left;
  text-align: left;
}
.box-style.style-left .title-head h2::before {
  left: 0;
}
.box-style.style-center {
  text-align: center;
  margin-top: 40px;
}
.box-style.style-center .title-head h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.box-style .title-head {
  width: 100%;
}
.box-style .title-head h2 {
  font-weight: 700;
  font-size: 20px;
  position: relative;
  padding-bottom: 19px;
  margin-bottom: 3px;
}
.box-style .title-head h2::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 35px;
  bottom: 0;
  background-color: #ea5541;
}
.box-style .description {
  margin-top: 10px;
}

/* icon-box element */
.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 36px;
}
.icon-box .icon-box-title {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
}
.icon-box .icon-box-title h3 {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#45b7f4), to(#45eaf1));
  background: linear-gradient(90deg, #45b7f4 0%, #45eaf1 100%);
  margin: 0 0 9px;
  letter-spacing: 0.5px;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}
.icon-box .icon-box-desc {
  color: #fff;
  overflow: hidden;
  -webkit-box-flex: 0;
  width: calc(100% - 60px);
}
.icon-box .icon-box-desc p {
  margin-bottom: 0;
}

.block-section {
  padding: 65px 0;
}

/* item-team element */
.member-type {
  text-align: center;
}
.member-type .item-member-content:hover .member-img a::before {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.member-type .item-member-content:hover .member-img a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.member-type .member-img {
  position: relative;
}
.member-type .member-img a {
  display: block;
  color: #45b7f4;
}
.member-type .member-img a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* .member-type .member-img a::after {
  position: absolute;
  content: "+";
  top: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  left: 50%;
  font-size: 120px;
  font-weight: 300;
  font-family: Raleway;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */
.member-type .member-img img {
  width: 100%;
}
.member-type .member-info {
  background: #f7ffff none repeat scroll 0 0;
  padding: 29px 20px 17px;
}
.member-type .member-name h4 {
  color: #45b7f4;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.member-type .member-job {
  margin-bottom: 4px;
  color: #333;
  font-style: normal;
}
.member-type .member-job p {
  margin-bottom: 0;
}
.member-type .social-list {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}
.member-type .social-list li {
  display: inline-block;
  padding: 0 11px;
}
.member-type .social-list li a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.member-name h4 {
  font-weight: 700;
  margin-bottom: 7px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.member-job {
  color: #ababab;
  font-style: italic;
}

.member-job p {
  margin-bottom: 0;
}

.social-list {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

.social-list li {
  display: inline-block;
  padding: 0 11px;
}

.social-list li a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.social-list li a:hover {
  color: #d5a853;
}

.light-box {
  display: none;
  width: 976px;
  padding: 50px;
}

.light-box .fancybox-close-small::after {
  content: "";
  font-family: FontAwesome;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.fancybox-slide .light-box {
  padding: 50px;
}

.member-lightbox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.member-lightbox .member-img {
  -webkit-box-flex: 0;
  width: 50%;
  float: left;
  padding: 0 25px;
}

.member-lightbox .member-img img {
  border-radius: 4px;
}

.member-lightbox .member-info {
  -webkit-box-flex: 0;
  width: 50%;
  float: left;
  padding: 0 25px;
  background-color: transparent;
}

.member-lightbox .member-name h4 {
  font-size: 24px;
  margin-bottom: 2px;
}

.member-lightbox .member-job p {
  margin-bottom: 0;
  font-size: 16px;
  color: #282828;
}

.member-lightbox .social-list {
  margin: 0 -11px;
}

.member-lightbox .desc {
  padding-top: 29px;
}

.bg-has-gradient .progress-line .progress-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #d5a853), to(#13264a));
  background: linear-gradient(90deg, #d5a853 0, #13264a 100%);
}

.progress-line {
  padding-top: 36px;
}

.progress-line h4 {
  font-size: 12px;
  color: #000;
  height: 100%;
  font-weight: 400;
  margin-bottom: 12px;
}

.progress-line .progress {
  height: 5px;
  margin-bottom: 19px;
  background-color: #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  overflow: visible;
}

.progress-line .progress:last-child {
  margin-bottom: 0;
}

.progress-line .progress-bar {
  background: -webkit-gradient(linear, left top, right top, from(#45b7f4), to(#45eaf1));
  background: linear-gradient(90deg, #45b7f4 0%, #45eaf1 100%);
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-line .progress-bar span {
  color: #696969;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: 1;
  font-size: 12px;
}

.animated-modal {
  overflow: hidden;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.animated-modal .desc p,
.animated-modal .member-job p,
.animated-modal .member-name h4,
.animated-modal .member-socials,
.animated-modal .progress-line {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal .desc p,
.fancybox-slide--current .animated-modal .member-job p,
.fancybox-slide--current .animated-modal .member-name h4,
.fancybox-slide--current .member-socials,
.fancybox-slide--current .progress-line {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.fancybox-slide--current .animated-modal .member-name h4 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.fancybox-slide--current .animated-modal .member-job p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.fancybox-slide--current .animated-modal .member-socials {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.fancybox-slide--current .animated-modal .desc p {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.fancybox-slide--current .animated-modal .progress-line {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* item-faq */
.item-faq {
  background-color: #fff;
  padding: 28px 20px 25px 32px;
  margin-bottom: 35px;
}
.item-faq h4 {
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 15px;
}
.item-faq p {
  margin-bottom: 3px;
}

/* block slider */
.slider-boxed {
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-gallery {
  position: relative;
}

.item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-text-slider .head-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  /* padding-bottom: 10px; */
}
.box-text-slider .main-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  line-height: 40x;
}


/* block-what-it */
.block-what-it .content-what-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* block-technologies */
.block-technologies {
  background-color: #f5f5f5;
}

/* block-how-it-works */
.block-how-it-works {
  background: linear-gradient(45deg, #3d2491 0%, #9a2794 100%);
}
.block-how-it-works .box-text .main-title {
  color: #fff;
}
.block-how-it-works .box-text .desc-title {
  color: #fff;
}
.block-how-it-works .img-center {
  margin-bottom: 48px;
}
.block-how-it-works .list-items {
  padding-top: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* block-apps */
.block-apps .box-text .head-box {
  padding-bottom: 41px;
}
.block-apps .box-text .desc-title {
  margin-bottom: 10px;
  padding-bottom: 14px;
}
.block-apps .list-items.style3 li::before {
  color: #45b7f4;
}
.block-apps .link-app a {
  color: #45b7f4;
}

/* block team */
.block-team {
  background-color: #f5f5f5;
}

/*block faq */
.block-faq {
  background: linear-gradient(45deg, #3d2491 0%, #9a2794 100%);
}
.block-faq .box-text .main-title {
  color: #fff;
}
.block-faq .box-text .desc-title {
  color: #fff;
}
.block-faq .right-faq {
  padding-top: 80px;
}
.block-faq .list-faq {
  position: relative;
}
.block-faq .list-faq::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 1;
  width: 1px;
  display: block !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/* block projects */
.list-projects .slick-slider .slick-arrow.btn-prev {
  left: 15px;
}
.list-projects .slick-slider .slick-arrow.btn-next {
  right: 15px;
}
.list-projects .slick-slider .slick-arrow:hover,
.list-projects .slick-slider .slick-arrow:focus {
  background-color: #000;
}

@media only screen and (max-width: 1200px) {
  .box-style.style-right .title-head h2::before {
    left: 0;
  }

  .head-style-left {
    padding-top: 50px;
  }

  .img-block-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-boxed {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
  }

  .box-style.style-right {
    padding-right: 0;
    float: left;
    text-align: left;
  }
}
@media only screen and (max-width: 960px) {
  .block-what-it .content-what-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .box-style.style-center .title-head h2::before {
    left: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .box-style.style-center {
    text-align: left;
    margin-top: 40px;
    padding: 0 15px;
  }

  .block-technologies .style-left {
    padding: 40px 0 0 0;
  }

  .box-text-slider .head-title {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 0px;
  }

  .box-text-slider .main-title {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 3px;
    margin-bottom: 10px;
  }

  .box-text-slider .text-des {
    /* font-size: 14px; */
    font-weight: 400;
    /* line-height: 21px; */
  }


  .img-gallery .item-slider {
    padding: 0 15px;
  }

  /* .item-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  } */

  .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  /* block team */
  .member-lightbox .member-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }

  .member-type1 .member-name h4 {
    padding-top: 5px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .member-lightbox .desc {
    padding-top: 0px;
  }

  .progress-line {
    padding: 0;
  }

  .member-lightbox .member-info {
    -webkit-box-flex: 0;
    width: 100%;
    float: left;
    padding: 0 25px;
    background-color: transparent;
  }

  .member-lightbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 -25px;
  }

  .light-box {
    display: none;
    width: 90vw;
    padding: 50px;
  }

  /* end block team */
}
@media only screen and (max-width: 640px) {
  /* block team */


  .member-type .social-list li {
    display: inline-block;
    padding: 0px;
  }


  .popup-img .title{
		font-size: 30px;
		text-align: center;
		color: white;
		font-weight: 700;
	}
	
	.popup-img .des{
		color: white;
		font-size: 16px;
		font-weight: 400;
	}
	
	.popup-img .link{
		color: #e08821;
		font-size: 16px;
		font-weight: 400;
	}

  .member-lightbox .member-img {
    -webkit-box-flex: 0;
    width: 80%;
    float: left;
    padding: 0px;
  }

  .member-type1 .member-name h4 {
    padding-top: 5px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .member-lightbox .desc {
    padding-top: 0px;
  }

  .progress-line {
    padding: 0;
  }

  .fancybox-slide .light-box {
    padding: 10px;
  }

  .member-lightbox .member-info {
    -webkit-box-flex: 0;
    width: 100%;
    float: left;
    padding: 0 25px;
    background-color: transparent;
  }

  .member-lightbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 -25px;
  }

  .light-box {
    display: none;
    width: 90vw;
    padding: 50px;
  }

  /* end block team */
  /* block technologies  */
  .box-text.style-center {
    margin-bottom: 0;
  }

  .block-what-it .content-what-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .block-technologies .style-left {
    margin-top: 40px;
  }

  .box-style.style-center .title-head h2::before {
    left: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .box-style.style-center {
    text-align: left;
    margin-top: 40px;
    padding: 0 15px;
  }

  /* end block technologies  */
  /* start block footer  */
  .footer-menu-list .box-content {
    margin-bottom: 10px;
  }

  .footer-menu-list .footer-title {
    padding: 10px 0;
  }

  .footer-menu-list li {
    margin-bottom: 0px;
  }

  /* end block footer  */
  /* start block slider  */
  .box-text-slider .head-title {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 0px;
  }

  .box-text-slider .main-title {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 3px;
    margin-bottom: 10px;
  }

  .box-text-slider .text-des {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }



  .img-gallery .item-slider {
    padding: 0 15px;
  }

  .item-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* end block slider  */
  .block-faq .right-faq {
    padding-top: 0px;
  }

  .item-faq {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }

  .block-how-it-works .img-center {
    margin-bottom: 20px;
  }

  .box-style .title-head h2 {
    font-weight: 700;
    font-size: 14px;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 3px;
  }

  .box-text .head-title {
    color: #45b7f4;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0px;
  }

  .icon-box .icon-box-title h3 {
    margin: 0;
  }

  .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 5px;
  }

  .block-how-it-works .list-items {
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .box-text.style-center .desc-title {
    width: 75%;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .box-text .main-title {
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 3px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .slider-boxed {
    padding-left: 0;
    padding-right: 0;
  }

  .box-style.style-right {
    padding-right: 0;
    float: left;
    text-align: left;
  }

  .box-style.style-left {
    padding-left: 0;
    float: left;
    text-align: left;
  }

  .block-section {
    padding: 25px 0;
  }
}